@import "../../../src/scss/abstracts/variable" ;

.product{
    background-color: $blue-color;
    border-radius: 4%;
    padding: 25px;
    margin: 25px;
    height: 150px;

    a{
        height: 150px;
        width: 100px;
        display: block;

    }
    i.icon-product {
        display: block;
    }
    
}
.spam{
    display: block;
}
