@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{

    /*font*/
    --font-roboto: "roboto", "sans-serif";
}

/*colors*/
$pink-color: #ffb6b9;
$cream-color: #fae3d9;
$light-color: #F5F5F5;
$white-color:#FFFFFF;
$black-color: #1E1E1E;
$green-color: #bbded6;
$blue-color: #8ac6d1;