
.header-contain{ 

    display: flex;
    justify-content: space-between;
    align-items: center;

  .container-logo img{
    
      height: 100px;    
    
  }

  ul {
    display: flex;
    align-content: center;
    justify-content: space-between;

    li{
      margin: 20px 5px;
    }
  }
}
