


body{
    background-image: url("../src/assets/background\ roses.jpg");
    background-size: contain;
    background-repeat: repeat;
}

.wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 150px auto ;
    background-image:url("../src/assets/paper\ old.jpg");
}
header{
    
    margin-bottom: 25px;
    padding-top: 12px;

}

article{
    width: min-content;
    text-align: center;
}